{% extends 'my_home/base.html' %}
{% load filter %}
{% block content %}
    {% for object in object_list %}
        <div class="col-md-6">
            <div class="card mb-6 box-shadow">
                <img src="{{ object.image.url }}" width="" height="200" alt="#"/>
                <div class="card-body">
                    <p class="card-text">{{ object }}</p>

                    {% for pr in object.version_set.all %}
                        {% if pr.is_active %}
                            <p class="text">Версия: {{ pr.version }}</p>

                        {% endif %}
                    {% endfor %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'my_home:product_detail' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Смотреть</a>
                            <a href="{% url 'my_home:product_update' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Редактировать</a>
                            <a href="{% url 'my_home:product_delete' object.pk %}" type="button"
                               class="btn btn-sm btn-outline-secondary">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="col-12">
        <a href="{% url 'my_home:product_create' %}" class="btn btn-success">Добавить продукт</a>
    </div>
{% endblock %}
